body{
    padding-left: 50px;
}
/* ul{
    background-color: black;
    color: cornsilk;
    display: flex;
    flex-flow: row wrap;
    
   justify-content: space-around;
   width: 150px;
   height: 200px;
   padding: 0;
  list-style: none;
}
ul li{
    
  margin-left: 5px;
} */

ul{
  columns: 3;
  width: 400px;
  height: 100px;
  list-style: none;
  background-color: black;
  color: white;
}